@{
    ViewData["Title"] = "Home Page";
}
<style>
    /* Define your custom styles for the color scheme */
    body {
        background-color: purple;
        color: orange;
    }

    .jumbotron {
        background-color: transparent;
    }
</style>

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Disaster Alleviation Foundation</h1>
    <p>We are dedicated to providing relief and support to those affected by disasters around the world. Learn more about our mission and how you can make a difference.</p>

</div>
